*{
    font-family: sans-serif;
    box-sizing: border-box;
    color: #eceff4;
}

body {
    margin: 0;
    padding-top: 4rem;
    background-color: #2e3440;
}

#Content {
    width: 85%;
    max-width: 40rem;
    margin: auto;
}

#Loader {
    text-align: center;
}

article {
    padding-bottom: 2rem;
}

h4 {
    margin: 0;
    font-size: 0.85rem;
}

h4 a {
    color: #88c0d0;
}

h3 {
    text-transform: capitalize;
    margin: 0.5rem 0;
    font-size: 1.5rem;
}

img{
    max-width: 100%;
    display: block;
    margin: auto;
}

p {
    font-size: 0.8em;
    color: #d8dee9;
}
